<div id="wrapper">
    <div id="info">
        <p [matTooltip]="spell.name"><strong>Name:</strong> {{spell.name}}</p>
        <p [matTooltip]="spell.description"><strong>Description: </strong>{{spell.description}}</p>
        <p [matTooltip]="spell.dice"><strong>Dice: </strong>{{spell.dice}}</p>
        <p [matTooltip]="spell.damageType"><strong>Damage Type: </strong>{{spell.damageType}}</p>
        <p [matTooltip]="spell.spellRange"><strong>Range: </strong>{{spell.spellRange}}</p>
        <p [matTooltip]="spell.component"><strong>Component/s: </strong>{{spell.component}}</p>
        <p [matTooltip]="spell.duration"><strong>Duration: </strong>{{spell.duration}}</p>
        <p [matTooltip]="spell.castingTime"><strong>Casting Time: </strong>{{spell.castingTime}}</p>
        <p [matTooltip]="spell.conditions"><strong>Conditions: </strong>{{spell.conditions}}</p>
        <mat-checkbox name="conc" [ngModel]="spell.concentration" disabled="true">Concentration</mat-checkbox>



    </div>
    <div id="options">
        <mat-icon *ngIf="spell.level != 'c'" (click)="onUse.emit(null)">play_arrow</mat-icon>
        <mat-icon (click)="onEdit.emit(null)">edit</mat-icon>
        <mat-icon (click)="onDelete.emit(null)">clear</mat-icon>

    </div>
</div>