mat-grid-list {
    width: 100%;
    height: 99%;
    mat-grid-tile {
        width: 100%;
        overflow-y: auto!important;
        app-basic-info-view {
            width: 100%;
            height: 100%;
        }
        app-stats-view {
            width: 100%;
            height: 100%;
        }
        app-equipment-view {
            width: 100%;
            height: 100%;
        }
        app-opalview{
            width: 100%;
            height: 100%;
        }
        app-hpview{
            width: 100%;
            height: 100%;
        }
        app-saving-skill-view{
            width: 100%;
            height: 100%;
        }

        app-weapon-spell-magic-item-view {
            width: 100%;
            height: 100%;
        }
    }
}

