<mat-grid-list cols="50" rowHeight="50px" gutterSize="5px">
    <mat-grid-tile colspan="50" rowspan="1">
        <app-basic-info-view></app-basic-info-view>
    </mat-grid-tile>
    <mat-grid-tile colspan="5" rowspan="15">
        <app-stats-view></app-stats-view>
    </mat-grid-tile>

    <mat-grid-tile colspan="8" rowspan="15">
        Savingthrows + skills
    </mat-grid-tile>

    <mat-grid-tile colspan="17" rowspan="8">
        <app-equipment-view></app-equipment-view>
    </mat-grid-tile>

    <mat-grid-tile colspan="20" rowspan="8">
        <app-opalview [viewType]="'FAT'"></app-opalview>
    </mat-grid-tile>

    <mat-grid-tile colspan="17" rowspan="8">
        HP STUFF
    </mat-grid-tile>

    <mat-grid-tile colspan="20" rowspan="8">
        <app-opalview [viewType]="'OPAL'"></app-opalview>
    </mat-grid-tile>




</mat-grid-list>