mat-grid-list {
    width: 50%;
    height: 100%;
    mat-grid-tile {
        width: 100%;
        overflow-y: auto!important;
        app-basic-info-view {
            width: 100%;
            height: 100%;
        }
        app-stats-view {
            width: 100%;
            height: 100%;
        }
        app-equipment-view {
            width: 100%;
            height: 100%;
        }
    }
}