<mat-icon mat-dialog-close>close</mat-icon>
<form *ngIf="playerList" (ngSubmit)="createCampaign()">
    <mat-form-field>
        <mat-label>Name of campaign</mat-label>
        <input (keyup)="checkName()" matInput [(ngModel)]="newCampaign.Name" name="name">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Players</mat-label>
        <mat-select [formControl]="players" multiple>
            <mat-option *ngFor="let player of playerList" [value]="player">{{player}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-label>Picture</mat-label>
    <input type="file" accept=".jpg, .png, .jpeg, .gif" (change)="convertToBase64($event)">
    <p id="error" *ngIf="errorText != ''">{{errorText}}</p>
    <div>
        <button mat-raised-button color="primary" type="submit">Create</button>
    </div>


</form>