<form style="display: flex">
  <mat-form-field>
    <mat-label>Character Name</mat-label>
    <input matInput>
  </mat-form-field>
  <div id="small-infoi">
    <mat-form-field>
      <mat-label>Class</mat-label>
      <mat-select>
        <mat-option value="barbarian">Barbarian</mat-option>
        <mat-option value="bard">Bard</mat-option>
        <mat-option value="cleric">Cleric</mat-option>
        <mat-option value="druid">Druid</mat-option>
        <mat-option value="fighter">Fighter</mat-option>
        <mat-option value="monk">Monk</mat-option>
        <mat-option value="paladin">Paladin</mat-option>
        <mat-option value="ranger">Ranger</mat-option>
        <mat-option value="rogue">Rogue</mat-option>
        <mat-option value="sorcerer">Sorcerer</mat-option>
        <mat-option value="warlock">warlock</mat-option>
        <mat-option value="wizard">Wizard</mat-option>
        <mat-option value="artificer">Artificer</mat-option>
        <mat-option value="bloodHunter">Blood Hunter</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Level</mat-label>
      <input matInput type="number">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Player Name</mat-label>
      <input matInput>
    </mat-form-field>

  </div>
</form>
