mat-icon {
    cursor: pointer;
}

#wrapper {
    background-color: #3D3D3D;
    height: 100%;
    padding: 5px;
    #header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px;
    }

    .catWrapper{
        .catHeader{
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .catHeaderIcons {
                display: flex;
                justify-content: space-between;
                width: 30%;
            }
        }

    }

    
}