<div id="container">
    <div id="amountWrapper" *ngIf="item.showAmount">
        <button matTooltip="Increase Amount" (click)="onIncrease.emit(null)">
            <mat-icon>add</mat-icon>
        </button>
        <p id="amount">{{item.amount}}</p>
        <button matTooltip="Decrease Amount" (click)="onDecrease.emit(null)">
            <mat-icon>remove</mat-icon>
        </button>
    </div>

    <p id="name" [matTooltip]="item.name">{{item.name}}</p>
    <p id="description" [matTooltip]="item.description">{{item.description}}</p>
    <div id="options">
        <button (click)=" onEdit.emit(null)" matTooltip="Edit item">
            <mat-icon>edit</mat-icon>
        </button>
        <button (click)="onDelete.emit(null)" matTooltip="Remove item">
            <mat-icon>clear</mat-icon>
        </button>
    </div>

</div>