mat-icon {
    cursor: pointer;
}

#equipment{
    background-color: #3D3D3D;
    width: 100%;
    #eqHeader {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px;
    }
    #eqList {
        padding: 20px;
        padding-top: 0;
    }
}