<nav>
    <div>
        <ul>
            <li *ngIf="isAdmin()">
                <div class="addButton" (click)="openCreateUser()">
                    <p>Add User</p>
                    <mat-icon>add</mat-icon>
                </div>
            </li>
            <li *ngIf="isAdmin()">
                <div class="addButton" (click)="openUpdateUser()">
                    <p>Update User</p>
                    <mat-icon>settings</mat-icon>
                </div>
            </li>
            <li *ngIf="isAdmin()">
                <div class="addButton" (click)="openCreateCampain()">
                    <p>Add Campaign</p>
                    <mat-icon>add</mat-icon>
                </div>
            </li>
            <li *ngIf="isAdmin()">
                <div class="addButton" (click)="openEditCampaign()">
                    <p>Edit Campaign</p>
                    <mat-icon>settings</mat-icon>
                </div>
            </li>

        </ul>
    </div>
    <div>
        <ul>
            <li *ngIf="isLoggedIn()">
                <div class="addButton" (click)="loggOut()">
                    <p>Loggout</p>
                    <mat-icon>login</mat-icon>
                </div>
            </li>
        </ul>
    </div>
</nav>