<div>
    <p> <b>Name:</b> {{ac.activeCharacter.characterName}}</p>
    <p> <b>Class/LVL:</b> {{ac.activeCharacter.characterClass + ' LVL ' + ac.activeCharacter.level}}</p>
    <p><b>Background:</b> {{ac.activeCharacter.background}}</p>
    <p> <b>Alignment:</b> {{ac.activeCharacter.alignment}}</p>
    <p><b>Race:</b> {{ac.activeCharacter.race}}</p>
    <mat-checkbox (change)="ac.save()" [(ngModel)]="ac.activeCharacter.inspiration" name="inspiration">
        Inspiration
    </mat-checkbox>
</div>